# fly.toml app configuration file generated for symfony-github-ci-cd on 2023-11-14T14:16:16+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "symfony-github-ci-cd"
primary_region = "cdg"

[build]

[env]
  PORT = "8000"

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80
